@page "/loginAdmin"
@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager Navigation

<EditForm Model="model" OnValidSubmit="HandleLogin"  class="h-50">
    <DataAnnotationsValidator/>
    <div class="form-floating mt-2 mb-2">
       
        <InputText @bind-Value=model.UserName  id="username"  placeholder="نام کاربری" class="form-control" />
        <label for="username">نام کاربری</label>
        <ValidationMessage For="()=>model.UserName"/>
    </div>
     <div class="form-floating mt-2 mb-2">
        <InputText @bind-Value=model.Password  type="password" id="pwd" placeholder="رمز عبور" class="form-control"/>
        <label for="pwd">رمز عبور</label>
        <ValidationMessage For="()=>model.Password"/>
    </div>
    <div class="d-grid mt-4 mb-1 ">
     <button type="submit" class="btn btn-lg bg-success text-white rounded">
       <h4>ارسال</h4>
     </button>
  </div>
</EditForm>
@code
{
    LoginModel model=new();
    async Task HandleLogin()
    {
        var response=await Http.PostAsJsonAsync("api/Account/loginAdmin",model);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/",true);
        }
        else
        {}

    }
    
    
}